body {
    overflow: hidden;
}

​ @keyframes pulsar {
    0% {
        transform: rotate(20px);
    }

    40% {
        transform: rotate(1030deg)
    }

    50% {
        transform: rotate(-3deg);
    }

    70% {
        transform: rotate(1030deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

​ .x91 {
    width: 540px;
    height: 540px;
    border: 1px #000 solid;
    position: absolute;
    border-radius: 50%;
    right: 30%;
    top: 20%;
}

​ .x92 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    ​ ​ transition: 1.2s cubic-bezier(.19, 1, .22, 1) 0s;
    ​ transform: rotate(0deg);
    ​ animation-name: pulsar;
    animation-duration: 8s;
    animation-timing-function: easy-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    ​
}

​ ​ .x92:before {
    display: inline-block;
    content: '';
    background: #4058A1;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}