.x91 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: yellow;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -40px;
    /* -child size/2 */
    left: 110px;
    /* parent size/2 - child size/2 */
    /* transition: 1.2s cubic-bezier(.19, 1, .22, 1) 0s; */
    /* 
    margin: 50px auto;
    animation-name: pulsar;
    animation-duration: 8s;
    animation-timing-function: easy-out;
    animation-delay: 0s;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; */



}

.x91:hover {

    transform: rotate();
}

.main-circle {
    top:100px;
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 1px solid black;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
}