@import "src/assets/styles/mixins";

.MainPage {
  width: 100%;
  height: 100vh;
  margin-top: -250px;
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  background-color: #c5d8ff;

  @include mobile {
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 50px;
  }
  &__main-text {
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 103.5%;

    @media only screen and(max-width:1569px) {
      font-size: 5rem;
      line-height: 68.32px;
    }

    @media only screen and(max-width:1378px) {
      min-width: 320px;
      flex-direction: column;
      padding-bottom: 0px;
      text-align: center;
    }

    @include middle {
      font-size: 4rem;
    }
    @include mobile {
      font-size: 2.7rem;
      line-height: 2.8rem;
      margin-top: 150px;
      padding-top: 20px;
      text-align: center;
    }
  }

  &__additional-text {
    font-style: normal;
    font-weight: 250;
    font-size: 1.625rem;
    line-height: 139.9%;
    font-family: "myfont";
    padding-top: 20px;

    @media only screen and(max-width:1569px) {
      font-size: 1.35rem;
    }

    @media only screen and(max-width:1378px) {
      text-align: center;
    }
    @include middle {
      font-size: 1.25rem;
    }
    @include mobile {
      font-size: 1rem;
      justify-content: center;
      text-align: center;
    }

    color: #000000;
  }
  &__container {
    margin: -200px auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-between;

    @media only screen and(max-width:1378px) {
      min-width: 320px;
      flex-direction: column;
      padding-bottom: 0px;
    }
    @include mobile {
      min-width: 320px;
      flex-direction: column;
      padding-bottom: 0px;
    }
  }

  &__animation-container {
    width: 30%;
    height: 416px;
    position: relative;
    margin-top: -100px;
    display: flex;
    border-radius: 8.97288px;
   

    @media only screen and(max-width:1371px) {
      margin-top: 50px;
      width: 465px;
    }
    @include mobile {
      width: 280px;
      height: 227px;
      margin-top: 60px;
    }
  }
  &__animation-container-box-1 {
    position: absolute;
    width: 467px;
    height: 385.64px;
    background-color: white;
    box-shadow: 0px 55.1191px 75.6285px rgba(0, 0, 0, 0.04);
    border-radius: 8.97288px;
    z-index: 3;
    margin: 0 auto;
    @include mobile {
      width: 280px;
      height: 227px;
    }
  }

  &__animation-container-box-2 {
    position: absolute;
    left: 19.65px;
    top: 42px;
    width: 435.29px;
    height: 358.78px;
    background-color: white;
    opacity: 0.89;
    box-shadow: 0px 55.1191px 75.6285px rgba(0, 0, 0, 0.04);
    border-radius: 8.97288px;
    z-index: 2;
    @include mobile {
      width: 260px;
      height: 212px;
      left: 9.65px;
      top: 27px;
    }
  }
  &__animation-container-box-3 {
    position: absolute;
    width: 412.28px;
    height: 339.82px;
    top: 77.2px;
    left: 31.16px;
    background-color: white;
    opacity: 0.6;
    box-shadow: 0px 55.1191px 75.6285px rgba(0, 0, 0, 0.04);
    border-radius: 8.97288px;
    z-index: 1;
    @include mobile {
      width: 246px;
      height: 201px;
      top: 50.2px;
      left: 15.16px;
    }
  }

  &__content-container {
    margin: auto 0;
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
  &__animation-container-top-bar {
    width: 95%;
    height: 52px;
    margin: 25px auto;
    padding-left: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile {
      margin: 18px auto;
      padding-left: 11px;
      height: 25px;
    }
  }
}

.TopBar {
  &__logo-box {
    display: flex;
    flex-direction: row;
  }

  &__video-name-box {
    margin-left: 15px;
    font-family: "myfont";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    color: #000000;
    @include mobile {
      font-size: 11px;
      margin-left: 9px;
      margin-top: -2px;
    }
  }
  &__video-length {
    display: flex;
    flex-direction: column;
    padding-right: 19px;
    font-family: "myfont";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    color: #56c54c;
    order: 0;
    flex-grow: 0;
    margin: 3px 0px;
    @include mobile {
      font-size: 8px;
      padding-right: 11px;
    }
  }
  &__video-length-box {
    border: 1px solid #baff8f;
    border-radius: 34px;
    width: 75px;
    text-align: center;
    height: 14px;
    @include mobile {
      width: 50px;
    }
  }
  &__video-length-itself {
    text-align: end;
    padding-right: 3px;
    margin-top: 10px;
    color: #2cc0ff;
    @include mobile {
      margin-top: 5px;
    }
  }
}

.additional-box {
  display: flex;
  justify-content: space-around;
  margin-left: -6px;
  @include mobile {
    height: 12px;
  }
}

.VideoBar {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 5000;
  width: 400px;
  height: 262px;
  background-color: white;
  margin-top: 100px;
  margin-left:33px;
  // margin-left: 30px;

  &__youtube {
    width: 428.13px;
    height: 262.78px;
    @include mobile {
      width: 256px;
      height: 156px;
    }
  }
}
.cirtdanLogo {
  @include mobile {
    width: 30.34px;
    height: 30.34px;
  }
}

.mock-video-itself {
  width: 388px;
  // height: 282.78px;
  outline: none;
  // border: 10px solid red;
  @include mobile {
    width: 262.34px;
    height: 150px;
  }
}

// .abc {
//   transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s !important;
//   clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
//   transform: translateY(0);
//   opacity: 1;
// }
