@import "src/assets/styles/mixins";

.Contact {
  width: 100%;
  padding-bottom: 200px;
  padding-top: 220px;
  text-align: center;
  @include mobile {
    padding-bottom: 65px;
  }

  &__main-text {
    font-family: Marcellus;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 98.32px;

    @media only screen and(max-width:1570px) {
      font-size: 4rem;
      line-height: 68.32px;
    }

    @include middle {
      font-size: 4rem;
    }
    @include mobile {
      font-size: 2.7rem;
      line-height: 2.8rem;
      text-align: center;
    }
  }
  &__send-request {
    display: none;
    margin-top: 13px;
    align-items: center;
    background: #ffffff;
    color: #4058a1;
    width: 173px;
    height: 58px;
    right: 0.5px;
    border: none;
    outline: none;

    font-weight: 300;
    font-size: 17px;
    line-height: 130%;

    background: #ffffff;
    box-shadow: 0px 4px 0px rgba(209, 204, 204, 0.25);
    border-radius: 70px;
    font-family: "myfont";
    @include mobile {
      width: 102px;
      height: 36px;
      font-weight: 300;
      font-size: 12px;
      line-height: 100%;
      margin-top: 45px;
      display: inline-block;
    }
  }

  &__additional-text {
    font-style: normal;
    font-weight: 250;
    font-size: 26px;
    line-height: 139.9%;
    font-family: "myfont";
    margin-top: 45px;
    @media only screen and(max-width:920px) {
      font-size: 18px;
    }
    color: #000000;
  }
  &__container {
    width: 100%;
    height: 100%;
    background: #c5d8ff;
  }

  &__inner-container {
    width: 456px;
    margin: 0 auto;
    background: white;
    box-shadow: inset -30px -2px 30px rgba(64, 82, 128, 0.1),
      inset 30px 2px 30px rgba(255, 255, 255, 0.8);
    border-radius: 66px 66px 0 0;
    @include mobile {
      width: 266px;
      border-radius: 37.2959px 37.2959px 0 0;
    }
  }

  &__chingiz,
  &__chingiz:before,
  &__chingiz:after {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
    background: #e4ac55;
  }
  &__chingiz:before,
  &__chingiz:after {
    content: "";
    position: absolute;
  }
  &__chingiz:before {
    left: 5px;
    background: #f7d7b9;
  }

  &__chingiz:after {
    left: 10px;
    background: #65faff;
  }

  &__test {
    margin-top: 28px;
    margin-left: 20px;
  }

  &__input-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 70px;
    width: 430px;
    height: 80px;
    left: 554.68px;
    top: 578px;
    background: #ffffff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.09),
      0px 18px 30px rgba(0, 0, 0, 0.05);
    border-radius: 60px;
    @include mobile {
      display: none;
    }
  }

  &__input-place {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    margin-left: 40px;
    margin-top: 14px;
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-family: "myfont", sans-serif;
  }
}

.cellphone-2 {
  position: relative;
  background-color: #f1f3f6;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 470px;
  height: 389px;
  background: #f1f3f6;
  box-shadow: 80px 60px 60px rgba(0, 0, 0, 0.14),
    inset -30px -2px 30px rgba(64, 82, 128, 0.1),
    inset 30px 2px 30px rgba(255, 255, 255, 0.4);
  border-radius: 0 0 68px 68px;
  z-index: 3000;
  @include mobile {
    width: 300px;
    height: 277px;
    border-radius: 0 0 38.426px 38.426px;
  }

  &__svg-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 15px;
    width: 112.27px;
    height: 36px;
    left: 8.82px;
    background: #e4ac55;
    border-radius: 61px;
    margin-top: 20px;
    margin-left: 9px;
    @include mobile {
      width: 50.44px;
      height: 15.34px;
      margin-left: 0px;
      left: 0px;
      top: 0px;
      border-radius: 34.4704px;
      margin-top: 15px;
    }
  }

  &__inner-box2 {
    position: absolute;
    width: 456px;
    height: 375px;
    left: 7px;
    background: white;
    box-shadow: inset -30px -2px 30px rgba(64, 82, 128, 0.1),
      inset 30px 2px 30px rgba(255, 255, 255, 0.8);
    border-radius: 0 0 66px 66px;
    border: 0.5px solid #d3d7db;
    border-top: none;
    @include mobile {
      width: 286px;
      height: 270px;
      border-radius: 0 0 37.2959px 37.2959px;
    }
  }
  &__middle-bar {
    width: 95%;
    height: 68px;
    position: relative;
    margin: 0 auto;
    @include mobile {
      width: 100%;
      height: 38px;
      margin: 11px auto;
    }
  }
  &__middle-bar-section {
    width: 100%;
    top: 20px;
    display: flex;
    flex-direction: row;
  }
  &__middle-bar-section-2nd-box {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    @include mobile {
      left: 10px;
    }
  }
  &__keyword-number {
    position: relative;
    padding-top: 2px;
    border: 1px solid #56c54c;
    color: #56c54c;
    width: 80px;
    height: 20px;
    text-align: center;
    font-family: "myfont";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    background: white;
    border: 1px solid #baff8f;
    box-sizing: border-box;
    border-radius: 34px;
  }
  &__left-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    left: 200px;
    @include mobile {
      left: 102px;
    }
  }

  &__video-length {
    font-family: "myfont";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    padding-right: 5px;
    margin-top: 10px;
    color: #2cc0ff;
  }
  &__video-bar {
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  &__youtube {
    width: 100%;
    height: 252.18px;
    border-radius: 8.97288px;
    @include mobile {
      height: 148.49px;
    }
  }
}

.footer-wrapper {
  background: #c5d8ff;
  padding-bottom: 80px;
  width: 80%;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  background: #c5d8ff;
  font-family: "myfont", sans-serif;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.footer-logo {
  width: 34px;
  height: 58px;
  @include mobile {
    margin: 0 auto;
  }
}

.logo-n-copyright {
  display: flex;
  flex-direction: row;
  @include mobile {
    flex-direction: column;
  }
}

.copyright {
  padding-left: 20px;
  padding-top: 15px;
  @include mobile {
    padding-left: 0px;
    padding-top: 28px;
  }
}

.adress {
  padding-top: 15px;

  @include mobile {
    padding-top: 24px;
    text-align: center;
  }
}

.faq-block {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.email {
  padding-top: 15px;
  text-decoration: underline;
  @include mobile {
    padding-top: 20px;
  }
}

.question-mark-circle {
  margin-top: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4058a1;
  @include mobile {
    margin-top: 20px;
  }
}

.question-mark-itself {
  position: relative;
  color: white;
  text-decoration: none;
  line-height: 34.98px;
  font-size: 25px;
  margin-top: 5px;
  left: 20px;
  font-family: "myfont", sans-serif;
}

.faq-itself {
  text-decoration: underline;
  padding-right: 10px;
  @include mobile {
    display: none;
  }
}
