* {
  margin: 0;
  padding: 0;
  // overflow: hidden;
 

}

@font-face {
  font-family: "myfont";
  // src: url("../src/assets/fonts/SofiaProExtraLight.otf");
  src: url("../src//assets//fonts//SofiaProLight.otf");
}
